<!DOCTYPE html>
<html class="wf-alegreya-n4-active wf-alegreya-n7-active wf-alegreya-i4-active wf-alegreya-n9-active wf-active"><head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">

    <title>Raymond &amp; Alex's Task Tracker</title>

    <link rel="stylesheet" href="assets/main.css">
  </head>
  <body>
    <header>
      <div class="header-inner">
        <h2>Raymond &amp; Alex's Task Tracker</h2>
      </div>
    </header>

    <div id="app">
      <div class="main-inner index">
        <div id="root">
          <h4>Tasks</h4>
          <ul>
            <li v-for="todo in todos">
              <input type="checkbox" v-model="todo.completed">
              <input type="text" v-model="todo.text" v-bind:class="['todo', { 'done' : todo.completed }]">
              <button class="delete" @click="removeTodo(todo)">&#10005;</button>
            </li>
            <li>
              <input type="text" class="newTask" v-model="newTodo" @keyup.enter="addTodo">
            </li>
          </ul>
          <button style="margin-top: 20px" @click="removeCompleted">Remove Completed Tasks</button>
        </div>
      </div>
    </div>
    <footer>
      <div class="footer-inner">
        <p>Made at Pair Columbus</p>
      </div>
    </footer>
    <script src="https://unpkg.com/vue"></script>
    <script src="assets/app.js"></script>
  </body></html>
